@font-face {
	font-family: creamCake;
	src: url(fonts/Cream\ Cake.otf);
}

@font-face {
	font-family: honeyFlorist;
	src: url(fonts/Honey\ Florist\ -\ Personal\ Use.otf);
}

* {
	box-sizing: border-box;
}

body {
	font-family:sans-serif;
	text-align:center;

	padding: 0;
	margin: 0;
}

#wrapper {
	min-height: 90vh;

    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);
}

#background-image {
	grid-column: 1 / -1;
	
	background-image: url('images/white-background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;

	height: 100%;
}

main {
	grid-column: 2 / -2;
}

h1 {
	font-size: 4em;
	font-family: 'creamCake', sans-serif;
	margin: 1% 10% 0% 15%;
	color:#d0d9d4;
	font-weight:normal;
}

h2 {
	display:inline-block;
	color:#d0d9d4;
	margin:.2em 0 .5em 0;
	font-size: 1.25em;
	font-family: sans-serif;
}

.leaves {
	color:#d0d9d4;
	font-size:2em;
	margin:0;
	display:inline-block;
	font-family: 'honeyFlorist';
	white-space: nowrap;
}

#lLeaf {
	padding-left:70px;
}

#blackBoxHeader {
	background-color: rgba(25,25,23,.9);
	padding: .7em 10px 10px 10px;
	color:black;
}

#form-div > input {
	margin-top: 2rem;
	height:3em;
	width:60%;
	box-shadow: 2px 2px #191917;
}

#myButton {
	background-color:#beca8b;
	height:3.5em;
	width:3.5em;
	box-shadow:2px 2px #191917;
}

#myList {
	list-style-type:none;
}

li {
	background-color: rgba(25,25,23,.9);
	color: rgb(190, 202, 139);
	padding:5px 0px 5px 0px;
	margin-top: 5px;
	font-size:2em;
}

#line {
	background-color:#beca8b;
	height:5px;
}

footer {
	color: #beca8b;
	background-color:#191917;
    padding: .25rem;
    font-size: 1rem;
	font-family: sans-serif;
    font-style: italic;
    text-align: center;
}